<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
        <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=vwstore;AccountKey=L+SCyDw++KA9U9yf1il8GNdfjEs+qwSN8kwrd2wjenoAr5BwFrrcK6MAEAQWs+CrWSfLKC5/x6DvLILGp4arUA==;EndpointSuffix=core.windows.net" />
    </appSettings>
</configuration>